<h1> Dữ liệu từ controller gửi về là: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>Nhập PersonId</label>
    <input type="Text" name="PersonId">
    <label>Nhập họ tên:</label>
    <input type="Text" name="Fullname">
    <label>Nhập địa chỉ:</label>
    <input type="Text" name="Address">
    <input type="Submit" value="Gửi dữ liệu">
</form>
